    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="ISO-8859-1">
    <title>National Scholarship</title>
    </head>
    <body>
        <form>
    <div style="height:100%;  padding: 40px; float:right; background-color: white; width: max-content;height:max-content;">
                <fieldset style="width: 250px; height:150%; margin-left:6.6%; border-radius:10px;background-color:cadetblue;outline:5px groove ">
                    <br>
                            <font color= "black" size=5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Student Login</strong></font>
                        <br><br>
                            <label for="UID"><b>&nbsp;&nbsp;&nbsp;UID :</b></label>
                            <br><br>
                            <input type="text" placeholder="Enter UID" name="UID" required>
                            <br><br>
                            <label for="psw"><b>&nbsp;&nbsp;&nbsp;Password :</b></label><br><br>
        <input type="password" placeholder="Enter Password" name="psw" required><br><br>
                            <span class="psw">&nbsp;&nbsp;<strong>Forgot</strong>&nbsp;<a href="#"> <strong> Password ?</strong></a></span>
                            <br><br>
                            
                        <font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button style="background-color: green; color: white;"type="submit">LOGIN</button></font>
                           <br><br><br><br>
                </fieldset> 
        </div>
    </form>

   

   


<div class="my-container" style="float:left;position: absolute;width:300px; padding-left: 50px;">   
        <div class=" col-md-3" style="float: left;">
            <div class="marquee">
                <h4>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; Latest Updates</h4>
                <div class="marquee-content">
                    <marquee onmouseover="stop()" onmouseout="start()" direction="up" scrollamount="7" height="130">
                        <p style="font-weight: bold;">
                         <span style="color: green; font-size:small;">
                            Registration is open for first year students taken admission in 2022 pursuing  
                            Medical Degrees for fresh applications and are applying in the following schemes:
                            Top Class Education Scheme for SC Students ,
                            Top Class Education for Schedule Tribe Students ,
                            CENTRAL SECTOR SCHEME OF SCHOLARSHIPS FOR COLLEGE AND UNIVERSITY STUDENTS ,
                            PMSS,PMSS Railways,NEC from 01/04/2022 to 15/04/2022
                         </span>
                        </p> 
                         <p style="font-weight: bold;">
                            <span class="fa fa-info-circle" style="color: #ff4d4d; font-size:small;">&nbsp;
                              
                               From AY 2021-22 all grievances related to the different schemes should be addressed
                                to the grievance officer of the scheme who are appointed by the concerned ministries. 
                                The details of grievance officers is available under “Services” in the first page of the portal.
                           
                            </span>
                        </p>
                               
                        <p style="font-weight: bold;"><span style="color: #0BBB31; font-size: small">
                                <strong>Attention Institutes</strong><br>
                               The institutes, not having login credentials are advised to fill the KYC Registration Form and 
                               get it approved by District Nodal Officer (DNO) or State Nodal Officer (SNO).
                            </span>
                        </p>
                        
                        <p style="font-weight: bold;"><span style="color:red; font-size:small;">
                              
                              Option to apply for Institute KYC Registration is available under SERVICES section on the portal.
                            </span>
                        </p>
                        
                        
                        <p style="font-weight: bold;"><span  style="color: #0BBB31; font-size: small;">&nbsp;
                                The detailed operational steps involved in filling the Institute KYC Registration Form is available
                                under "Important Documents" section  on the portal.
                            </span>
                        </p>                   
                        
                    </marquee>

                </div>
            </div>
            <div>
            <div class="marquee">
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<h4>  HelpDesk</h4>
                <div class="marquee-content">
                    <p>Candidates can contact the Help Desk for resolution of the technical problems</p>
                    <hr/>
                    <p><i class="fa fa-phone"></i> 0120 - 6619540</p>
                    <hr/>
                </div>
            </div>
            </div>

            
       </div>
</div>

<div  id="first">  
    <article style="background-color:white; height:auto; padding-left:400px; text-align: center;">

        <br>
            <h3  style="color:cornflowerblue;text-align: center;">&nbsp;<strong>Descriptipn of Portal</strong></h3><br>
        <p style="background-color: white; ">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; National Scholarships Portal is one-stop solution through which various services starting from student application,
            application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.
             National Scholarships Portal is taken as Mission Mode Project under National  e-Governance Plan (NeGP)
        </p>
    </article>
   </div>
    <!-- Bootstrap Bundle with popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
    
    </body>
    </html>
