<img [src]="imagePaths" style="padding-left: 400px;"/>
<div class="container" style="height:fit-content">
    <nav>
    <ul>

<h1 >&nbsp;&nbsp;&nbsp;&nbsp;National Scholarship Portal</h1>
<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Government of India</h2>

    </ul>
  </nav>
</div>

<div class="topnav">
  <nav>
  <div class="menu">
      <div class="container">
          <ul class="main-navigation">
              
              <li ><a routerLink="/"><strong> HOME </strong></a></li>
              <li><a routerLink="/aboutUs"><strong>ABOUT US</strong></a></li>
              <li><a routerLink="/contactUs"><strong>CONTACT US</strong></a></li>
              <li><a routerLink="/std_reg"><strong>STUDENT REGISTRATION</strong></a></li>
              <li><a routerLink="/inst_reg"><strong>INSTITUTION REGISTRATION</strong></a></li>    
              <li><a routerLink="/login"><strong>LOGIN</strong></a></li>
              <li class="nav-item dropdown" dropdown>
                
              </li>
        
          </ul>
              </div>
              </div>
              </nav>
  </div>

 

   

 