<!--%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
    <%@taglib uri="http://www.springframework.org/tags/form" prefix="form"%-->
    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Student Registration</title>
    <link href="schlr-form.component.css">
    </head>
    <body>
         <div class="container" style="padding-left:40px">
          <br>
        
        
          <form action="#" >
            <div class="user-details">
                <h1 align = "center">SCHOLARSHIP APPLICATION FORM</h1>
                <br><br>
                <h2>BASIC DETAILS :</h2><br>
                <label>AADHAR NUMBER   : </label>&nbsp;&nbsp;&nbsp;
                <input type="AADHAR NUMBER" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>RELIGION  :</label>&nbsp;&nbsp;
                <select>
                    <option vaue="Dropdown button">SELECT</option>
                    <option>HINDUS</option>
                    <option>CHRISTIANS</option>
                    <option>MUSLIMS</option>
                    <option>BUDDHISTS</option>
                    <option>SIKHS</option>
                </select>
                <br><br>
                <label>COMMUNITY/CATEGORY  :</label>&nbsp;&nbsp;
                <input type="name">
                <br><br>
                <label>FATHER NAME  :</label>&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <label>FAMILY ANNUAL INCOME  :</label>&nbsp;&nbsp;
                <input type="password" required>
                <br><br>
                <h2>ACADEMIC DETAILS  :</h2><br>
                <label>INSTITUTE NAME  :</label>&nbsp;
                <select>
                    <option vaue="Dropdown button" >SELECT</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>PRESENT CLASS/COURSE  :</label>&nbsp;&nbsp;
                <input type="name">
                <br><br>
                <label>PRESENT CLASS/COURSE YEAR  :</label>&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>MODE OF STUDY  :</label>&nbsp;&nbsp;
                <select>
                    <option vaue="Dropdown button">SELECT</option>
                    <option>Full-Time</option>
                    <option>Part-Time</option>
                </select>
                <br><br>
                <label>CLASS START DATE  :</label>&nbsp;&nbsp;
                <input type="date" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>UNIVERSITY/BOARD NAME  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <label>PREVIOUS CLASS/COURSE  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>PREVIOUS CLASS/COURSE YEAR  :</label>
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>PREVIOUS CLASS PERCENTAGE  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <h2>10TH CLASS  :</h2><br>
                <label>ROLL NUMBER :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>BOARD NAME  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <label>PASSING YEAR  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>% OBTAINED  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <h2>12TH CLASS  :</h2><br>
                <label>ROLL NUMBER  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>BOARD NAME  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <label>PASSING YEAR  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>% OBTAINED  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <h2>FEE DETAILS  :</h2><br>
                <label>ADMISSION FEE  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>TUITION FEE  :</label>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="name" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>OTHER FEE  :</label>&nbsp;&nbsp;
                <input type="name">
                <br><br>
                <h2>OTHER PERSONAL DETAILS  :</h2><br>
                <label>IS DISABLED  :</label>&nbsp;&nbsp;
                <select>
                    <option vaue="Dropdown button">SELECT </option>
                    <option>YES</option>
                    <option>NO</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label>TYPE OF DISABILITY  :</label>&nbsp;&nbsp;
                <input type="name" >
                <br><br>
                <label>% OF DISABILITY  :</label>&nbsp;&nbsp;
                <input type="name">&nbsp;&nbsp;
                <label>MARITAL STATUS  :</label>&nbsp;&nbsp;
                <select>
                    <option vaue="Dropdown button">SELECT</option>
                    <option>SINGLE</option>
                    <option>MARRIED</option>
                </select>
                <br><br>
                <label>PARENTS PROFESSION  :</label>&nbsp;&nbsp;&nbsp;
                <input type="name" required>
                <br><br>
                <h2>CONTACT DETAILS  :</h2><br>
                <label>STATE  :</label>&nbsp;&nbsp;&nbsp;
                <select>
                    <option vaue="Dropdown button">SELECT</option>
                    <option>Andhra Pradesh</option>
                    <option>Bihar</option>
                     <option>Haryana</option>
                     <option>Himachal Pradesh</option>
                     <option>Karnataka</option>
                     <option>Punjab</option>
                     <option>UttaraKhand</option>
                     <option>Uttar Pradesh</option>
                </select>
                <br><br>
                <label>DISTRICT  :</label>&nbsp;&nbsp;&nbsp;
                <select>
                    <option vaue="Dropdown button">SELECT</option>
                    <option>RANGAREDDY</option>
                    <option>MAHABUBNAGAR</option>
                     <option>RAMANAGAR</option>
                     <option>MAGADI</option>
                     <option>PATALIA</option>
                     <option>SANGRUR</option>
                     <option>KOLLAM</option>
                     <option>KOTTAYAM</option>
                     <option>KURNOOL</option>
                </select>
                <br><br>
                <label> HOUSE NUMBER  :</label>&nbsp;&nbsp;
                <input type="number" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label> STREET NUMBER  :</label>&nbsp;&nbsp;
                <input type="number" >
                <br><br>
                <h3>CHOOSE SCHEME APPLYING FOR  :
                <select>
                    <option vaue="Dropdown button">SELECT</option>
                    <option>POST MATRIC SCHOLARSHIP</option>
                    <option>PRAGATI SCHOLARSHIP</option>
                    <option>MERIT BASED SCHOLARSHIP</option>
                </select></h3><br>
                <h3>DOCUMENTS UPLOAD SECTION  : </h3><br>
                <label>DOMOCILE CERTIFICATE  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                <br><br>
                <label>STUDENT PHOTOGRAPH  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                 <label>INSTITUTE ID CARD  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>CASTE/INCOME CERTIFICATE  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>PREVIOUS YEAR MARKSHEET  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>FEE RECEIPT OF CURRENT YEAR  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>BANK PASSBOOK/FRONT PAGE  :  </label>&nbsp;&nbsp;
                    <button  onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>AADHAR CARD  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>10TH MARKSHEET  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
                    <br><br>
                <label>12 MARKSHEET  :  </label>&nbsp;&nbsp;
                    <button onclick="document.getElementById('getFile').click()">UPLOAD</button>
        
                
                <br><br>
                <input type="checkbox">
                ALL THE DETAILS AND DOCUMENTS SUBMITTED BY US ARE VALID AND TRUE
                <br>
                <pre>
        <font face="Timesnew Roman" size="">FOUND GUILTY OF SUBMITTING INVALID DOCUMENTS, WE MAY BE HELD RESPOSIBLE FOR THAT ACT BY US.</font></pre>
              <br>  <button style="background-color:green;color:white ;" type="submit">SUBMIT</button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                <button style="background-color:green;color:white" type="reset" >RESET</button>
            </div>
          </form>
        </div>
      
    </body>
    </html>
   